<% provide(:title, '') %>
<div class="center hero-unit">
   	<h1 class="animated flash">TOP 5 hotels</h1>
	<hr />
	<!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> -->
	<!-- <%= link_to image_tag("rails-logo.svg", alt: "Rails"), 'http://rubyonrails.org/' %> -->
	<%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />

</div>
