<% provide(:title, '') %>

<div class="main_pic">
    <br /><br /><br /><br />
    <div class="greeting_text">
        <h1 class="greeting_text">Find the lowest price on the right hotel for you</h1>
    </div>
    <div class="slogan_text">
        <center><h2><strong>
'Hotel App' is the only hotel site that sends special investigators to visit, 
photograph, review, and rate each hotel. We inspect in-person — just like your 
mother-in-law.
        </strong></h2></center></div>
    </div>

<div class="center hero-unit main-page">
	
	<%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <%= render 'blocks/preview' %>
    <br />
    <h1 class="wow fadeInRight">
        <%= link_to "Watch full list on hotels", listOfHotels_path, 
        class: "btn btn-default btn-large", id: "open_list_btn" %>
    </h1>
    <br />
    
</div>
