<% provide(:title, '') %>
<div class="center hero-unit">
    <h1>Full list of hotels</h1>
    <hr />
    <center>
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
        <br />
        <%= render 'blocks/preview' %>
    </center>
</div>
