<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <% if @user.hotels.any? %>
      <% @hotel.each do |hotel| %>
        <%= render :partial => 'blocks/preview', 
                    :locals => {:hotel => hotel} %>
        <%= link_to 'Edit', edit_hotel_path(hotel) %>
        <%= link_to 'Destroy', hotel_path(hotel),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      <% end %>
    <%= will_paginate @hotel %>
  <% end %>
</div>
