<div class="center hero-unit">
    <h1>Full description about hotel</h1>
    <h1>
      <%= @hotel.title %>
    </h1>
    <hr />

    <div class="div_descr_1">
       <%= image_tag @hotel.image.thumb.url %>
    </div>

    <div class="div_descr_3">
        div 3 - Rating: <br />
        <%= @hotel.star_rating %>
    </div>

    <div class="div_descr_4">
        div 4 - Price: <br />
        <%= @hotel.price %>
    </div>   

    <div class="div_descr_5">
        div 5 - breakfast: <br />
        <%= @hotel.breakfast %>
    </div>  

    <div class="div_descr_2">
        <%= @hotel.room_desc %>
        <div>
            <br />
            <i>Address: &emsp;</i> <%= @hotel.address %>
        </div>  
    </div>

    
   
    <div class="clear"></div>
</div>