<div class="center hero-unit">
    <h1>Full description about hotel</h1>
    <h1>
      <%= @hotel.title %>
    </h1>
    <hr />
    <div class="div_descr_1">
       <%= image_tag @hotel.image.thumb.url %>
    </div>
    <div class="div_descr_2">
        <%= @hotel.room_desc %>
        <div>
            <%= @hotel.breakfast %>
        </div>
        <div>
            <%= @hotel.address %>
        </div>  
        <div>
            <%= @hotel.star_rating %> stars
        </div>
        <div>
            <%= @hotel.price %> $$$
        </div>
    </div>
    <div class="div_descr_3">
        div 3 <br />
        Rating and vota-button <br />
    </div>
    <div class="div_descr_4">
        div 4 <br />
        Commentaries... <br />
    </div>   
    <div class="clear"></div>
</div>